body {
      background-color: #90ee90;

      }

h1 {
  color: #B22222;
}
h3 {
  color: #B22222;
  margin-left: 20px;
}

textarea {
    width:500px;
    height:250px;
}
label {
color :blue;
}

output {
  display: block;
  border-color : black;
  color : blue;
}